<launch>
  <arg name="robot_config" default="$(find gello_ros)/config/cobotta.yaml" />

  <node name="run_robot_node" pkg="gello_ros" type="run_robot_node.py" output="screen">
    <rosparam command="load" file="$(arg robot_config)" />
  </node>

  <node name="run_agent_node" pkg="gello_ros" type="run_agent_node.py" output="screen">
    <rosparam command="load" file="$(arg robot_config)" />
  </node>
</launch>