<launch>
  <arg name="robot_config" default="$(find gello_ros)/config/ur5e.yaml" />
  <arg name="common_config" default="$(find gello_ros)/config/common.yaml" />
  <arg name="save_episode" default="false" />

  <node name="gello_camera_server" pkg="gello_ros" type="run_camera_nodes.py" output="screen">
    <rosparam command="load" file="$(arg robot_config)" />
    <rosparam command="load" file="$(arg common_config)" />
  </node>
  
  <node name="gello_robot_server" pkg="gello_ros" type="run_robot_node.py" output="screen">
    <rosparam command="load" file="$(arg robot_config)" />
    <rosparam command="load" file="$(arg common_config)" />
  </node>
  
  <node name="gello_agent" pkg="gello_ros" type="run_agent_node.py" output="screen">
    <rosparam command="load" file="$(arg robot_config)" />
    <rosparam command="load" file="$(arg common_config)" />
    <param name="save_episode" value="$(arg save_episode)" />
  </node>


</launch>